<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
    integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>

<body>
  <header>
    <h2>メモアプリ</h2>
    <%= yield %>
  </header>
</body>

</html>
