<form class="pure-form pure-form-aligned" method="post" action="/memos/new">
  <div class="pure-control-group">
    <input type="text" name="title" class="form-item title" placeholder="タイトル">
  </div>
  <div class="pure-control-group">
    <textarea name="body" class="form-item body" rows="5" placeholder="内容"></textarea>
  </div>
  <input type="submit" value="保存" class="pure-button pure-button-active">
  <button class="pure-button pure-button-active" type="button" onclick="location.href='/memos'">戻る</button>
</form>
