
<h3><%= @memo["title"]%></h3>

<p><%= @memo["body"]%></p>
<form class="pure-form pure-form-aligned" method="post" action='/memos/<%= @memo["id"] %>'>
  <button class="pure-button pure-button-active" type="button"
    onclick="location.href='/memos/<%= @memo["id"]%>/edit'">変更</button>
  <button class="pure-button pure-button-active" type="button" onclick="location.href='/memos'">戻る</button>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" class="pure-button pure-button-active" value="削除">
</form>
